[user]
    name = sarathorhalls
    email = 
[core]
    editor = code --wait
[alias]
    aa = add -A
    br = branch --list
    brd = branch -D
    cp = cherry-pick
    co = commit
    cm = commit -m
    coa = commit --amend
    amend = commit -a --amend --no-edit
    ck = checkout
    ckb = checkout -b
    pl = pull
    st = status -s --show-stash -uall --find-rename
    sti = status
    shit = reset --hard origin
    undo = "!git reset --soft HEAD~$1 #"
    sq = "!git rebase -i HEAD~$1 #"
	sha = "!powershell.exe -command '$commit = git log -n 1 | findstr -i commit; $commit.Substring(7) | Set-Clipboard'"
    sw = switch
    please = push --force-with-lease
    puf = push --force-with-lease
    publish = push -u origin HEAD
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    log1 = log --oneline --decorate
[rebase]
    autosquash = true
[pull]
    rebase = true
[push]
    autoSetupRemote = true
